.calculator {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="number"] {
  width: 200px;
  padding: 5px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#bonus-result {
  margin-top: 20px;
  padding-top: 10px;
}

#bonus-result label {
  display: block;
  margin-top: 5px;
  font-weight: bold;
}


#bonus-result label:nth-of-type(4)::before {
  content: "";
  display: block;
  border-top: 5px solid #ccc;
  margin-top: 15px;
  margin-bottom: 15px;
}

#bonus-result label:nth-of-type(6)::before {
  content: "";
  display: block;
  border-top: 5px solid #ccc;
  margin-top: 15px;
  margin-bottom: 15px;
}